
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.1.0/fabric.min.js"></script>
<script type="text/javascript">
  var addOnClick_pen = function(element,canvas) {
  element.onclick = function() {
    canvas.freeDrawingBrush.color = "#bd93f9";
    canvas.freeDrawingBrush.width = 2;
  };
};
  var addOnClick_erase = function(element,canvas) {
  element.onclick = function() {
    canvas.freeDrawingBrush.color = "#282a36";
    canvas.freeDrawingBrush.width = 8;
  };
};
  window.onload = function () {
    const  allTags = document.getElementsByClassName("canvasdiv");

    for (var i = 0; i < allTags.length; i++) {
      console.log(i)
      var canvas_tag = allTags[i].getElementsByTagName("canvas")[0];
      var canvas = new fabric.Canvas(canvas_tag, {
        width: 1000,
        height: 900,
        allowTouchScrolling: true,
      })
      const ctx = canvas.getContext('2d');
      ctx.imageSmoothingEnabled = true;
      canvas.isDrawingMode = true;
      canvas.freeDrawingBrush.color = "#bd93f9";

      var button_eraser = document.getElementById(canvas_tag.id + "-eraser");
      var button_pen = document.getElementById(canvas_tag.id + "-pen");

      addOnClick_pen(button_pen,canvas);
      addOnClick_erase(button_eraser,canvas)
    }
  }
</script>